# Run on main branch update
# Also releases latest tag on DockerHub
name: Main branch workflow

on:
  push: [main]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }} # This is not the actual password of the user, just a token

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: spotify/techdocs:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
